.result-body {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-image-box {
  height: 70vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  border-color: rgba(155, 11, 11, 0.2);
}

.image {
  height: 100%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: black;
}

.result-image-box:hover .image {
  opacity: 0.3;
}

.result-image-box:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.image-viewer{
  display: flex;
  flex-direction: row;
}

.result-image{
  padding-left: 90px;
}